<!-- @format -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Management | Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        {% block navbar %}
            {% include "navbar.html" %}
        {% endblock %}
        <main>
            <div class="container-xl mt-5">
                <div class="container-fluid">
                    <h1 class="display-1">Food</h1>
                    <div class="container-fluid row row-cols-5 gx-4">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h4 class="card-title">Add Food</h4>
                                    <p class="card-subtitle text-muted">add food item</p>
                                    <a name="Add Food"
                                       id="addfoodbtn"
                                       class="btn btn-primary mt-4"
                                       href="food/add"
                                       role="button">Add <i class="bi bi-plus-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h4 class="card-title">Manage</h4>
                                    <p class="card-subtitle text-muted">edit food items</p>
                                    <a name="Add Food"
                                       id="addfoodbtn"
                                       class="btn btn-primary mt-4"
                                       href="food/manage"
                                       role="button">Manage <i class="bi bi-pencil"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
