<!-- Importing Bootstrap -->
{% load static %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"/>
<link href="{% static 'bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"/>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<section>
  <nav class="navbar navbar-expand-lg navbar-dark shadow bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Jalpan</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/order">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/management">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              Food List
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/management/food/add">
                  <i class="bi bi-plus-square"></i>
                Add</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-trash">
                  Remove</i>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-gear-wide-connected">
                  Manage</i>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">Orders</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/management/orders/records">
                  <i class="bi bi-list-columns"></i>
                Order Record</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-plus-square"></i>
                Order</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-gear-wide-connected"></i>
                Manage</a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2"
                 type="search"
                 placeholder="Search"
                 aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="mb-3"></div>
</section>
